@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --after-content:'2';
}
body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

/* text color */
.text-primary{
    color: var(--pink)!important;
}

/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.navbar-brand h5{
    letter-spacing: 2px;
    font-family: var(--lg-font);
    font-weight: 600;
}
.nav-link:hover{
    color: var(--pink)!important;
}
.navbar-nav .nav-item .active {
    color: var(--pink)!important; 
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}


/* header */
#header{
    background: url('img/dogs/carousel-2.jpg') top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn-cart{
    border-color: #fff!important;
}
.carousel-item .btn-cart:hover{
    border-color: var(--pink)!important;
}

#cart-total{
    content: var(--after-content);
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* about */
#about{
    background-color: rgba(179, 179, 179, 0.05);
}

.nav-pills .nav-link{
    color: #e5345b;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background: #e5345b;
}


/* collection */
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.collection-img img{
    width: 100%;
    height: 400px;
}
/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* offers */
.bg-offer {
    background: url('img/dogs/offer.jpg') top right no-repeat;
    background-size: cover;
}



/* offers */
#offers{
    background: url('img/dogs/hero-banner.jpg') center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}


/*services*/
#page-header.services-header{
    background-image: url('img/cats/carousel-1.jpg') ;
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-top:60px;;
}
.services-header h2{
    font-weight: 600;
   
}

#page-header .services p{
    color: #fff;
    font-weight: 500;
    
}


.card {
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    
  }
  
  .card:hover {
    color: white;
  }
  .card::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0%;
    background: #ba808c;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
  }
  .card:hover::before {
    left: 0%;
    color: white;
  }
 
  .card img{
    background-position:50% 50%;
    height: 45vh;
    width:100% ;
  }
/*end of services */


  /*-------------------------------*/
    /* Testimonials*/
/*-------------------------------*/

.wrapper{
    background: linear-gradient(90deg,#f0e3ef 0%, #f1e9ee 100%);
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #4a4546;
}
.wrapper h1{
    font-size: 60px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    
}
.wrapper h5{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 80px;
    color: var(--pink);

}
.cards{
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    
}
.card1{
    width: 380px;
    height: 250px;
    border-radius:15px ;
    margin: 7px;
    padding: 20px 30px;
    position: relative;
    background: #ba808c;
    box-shadow: 10px 20px 25px rgba(0,0,0,);
    transition: 0.3s;
}
.card1 img{
    height: 90px;
    width: 90px;
    border: 2px solid #e65675;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 20px;
}
.card1 p{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.card1 h2{
    font-weight: 500;
    margin-bottom: 4px;
}
.card1 h4{
    color: #000;
    font-weight: 400;
    font-size:16px ;
}
.card1 i{
    font-size: 60px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    color:#87979e;
}
.card1:hover{
    transform: scale(1.3);
    color: #333;
    background: #c4697c;
    z-index: 10000;
}
@media(max-width:768px)
{
    .cards{
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card1{
        margin: 20px 0;
    }
}






/* add-to-cart-/




/*Booking Form*/
.booking{
    background: linear-gradient(rgba(15, 23, 43,0.7),rgba(15, 23, 43,0.7)), url('img/cats/price-3.jpg') ;
    background-position: center center;
    background-repeat:no-repeat ;
    background-size: cover;
    text-emphasis-color: var(--light);
    width: 100%;
}

.form-floating {
width: 100%;
padding-top: 10px;
padding: 1.5rem 1.35rem calc(9.75rem -2px) 1.54rem;
border: none;
outline: none;
font-family: inherit;
border-radius:20px ;
font-weight: 600;
color: #e1e1e1;
}
/*end of booking */


/*contact page*/
#page-header{
    background-image: url('img/cats/carousel-1.jpg') ;
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    margin-top:60px;;
}
#page-header h2,
#page-header p{
    color: #fff;
    
}

/*About Page */
#page-header.about-header{
    background-image: url('img/cats/carousel-1.jpg') ;

}

/* feat */

h6{
     font-weight: 700;
     font-size: 12px;
    }
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;  
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  margin: 40px 0;
  margin-left: 40px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);

}
#feature .fe-box img{
  width: 100%;  
  margin-bottom:10px ;

}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-boxh6:nth-child(2)  {
    background-color: #fddde4;
}
#feature .fe-boxh6:nth-child(3)  {
    background-color: #fddde4;
}
#feature .fe-box h6:nth-child(4)  {
    background-color: #fddde4;
}
#feature .fe-box h6:nth-child(5)  {
    background-color: #fddde4;
}
#feature .fe-boxh6:nth-child(6)  {
    background-color: #fddde4;
}

/*Contact Page*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2, 
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
   list-style: none;
   display: flex;
   padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
} 
#contact-details {
  display: flex;
  flex-wrap: wrap;
}

.details {
  width: 100%;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}

.map {
  width: 100%;
  height: 450px;
  margin: 50px 0;
}

@media (min-width: 768px) {
  .details {
    width: 50%;
    text-align: left;
    padding: 100px;
  }

  .map {
    width: 50%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .details {
    width: 100%;
    text-align: left;
    padding: 50px;
  }

  .map {
    width: 100%;
    height: 300px;
    margin: 50px 0;
  }
}

@media (max-width: 599px) {
  .details {
    width: 100%;
    text-align: left;
    padding: 25px;
  }

  .map {
    width: 100%;
    height: 200px;
    margin: 25px 0;
  }
}


/* Form */
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none   ;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details{

    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;border: 1px solid  #e1e1e1
}


#form-details form button{
    background-color: #e5345b;
    color: #fff;
}



#form-details.people div{
    padding-bottom: 25px;
    display: flex;
    align-items:flex-start;
    margin-left: 20px;
    padding-left: 40px;
}
#form-details.people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right:15px ;
    
}

#form-details.people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details.people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}







/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}
